*{
    margin:0;
    padding:0;
    border:0;
    font-family: "Karla", sans-serif;
}


nav{
    display:flex;
    justify-content: space-between;
    padding:20px;
    align-items: center;
    background-image:linear-gradient(to right, rgb(87, 0, 87), rgb(172, 0, 172));
    color:white;
}

nav > section{
    display: flex;
    align-items: flex-end;
    gap:10px;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:80%;
    margin:30px auto 0 auto;
}

.container > div{
    padding:10px 25px 10px 25px;
}

.container--input{
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;

}

.container--input > input{
    height: 25px;
    border-radius: 5px;
    border-color:black;
    border-style:solid;
    border-width: .1px;
    width:calc(50% - 10px);

}

.container--button > button{
    height: 45px;
    width:100%;
    background-image:linear-gradient(to right, rgb(87, 0, 87), rgb(172, 0, 172));
    color:white;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Karla", sans-serif;
}
.container--meme{
    position:relative;
    max-width:100%;
    text-align: center;
    height:auto;
}

#meme--image{
    max-width:100%;
}

.meme--text{
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color:white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.topText{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top:25px;
}

.bottomText{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:25px;
}